button,
input[type="submit"] {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #663e08;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #201301;
  background-image: -webkit-linear-gradient(#201301, black);
  background-image: linear-gradient(#201301, black);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #372104;
    cursor: pointer;
    background-color: #070400;
    background-image: -webkit-linear-gradient(#070400, black);
    background-image: linear-gradient(#070400, black); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid black;
    box-shadow: inset 0 0 8px 4px black, inset 0 0 8px 4px black; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #201301;
  font-family: "GothamBook";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "GothamBook";
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #201301;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: black; }
  a:active, a:focus {
    color: black;
    outline: none; }

hr {
  border-bottom: 1px solid #201301;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #201301;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #6a3f03; }

blockquote {
  border-left: 2px solid #201301;
  color: #6a3f03;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #9c5c05;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #513003;
  border: 1px solid #201301;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "GothamBook";
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #201301;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "GothamBook";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: black; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #201301;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(7, 4, 0, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #201301;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'AmericanTypewriter';
  src: url("assets/fonts/AmericanTypewriter.eot"), url("assets/fonts/AmericanTypewriter.ttf") format("truetype"), url("assets/fonts/AmericanTypewriter.svg#AmericanTypewriter") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBook';
  src: url("assets/fonts/gothambook.eot"), url("assets/fonts/gothambook.ttf") format("truetype"), url("assets/fonts/gothambook.svg#gothambook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamXLight';
  src: url("assets/fonts/gothamxlight.eot"), url("assets/fonts/gothamxlight.ttf") format("truetype"), url("assets/fonts/gothamxlight.svg#gothamxlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveMedium';
  src: url("assets/fonts/novecentowidemedium.eot"), url("assets/fonts/novecentowidemedium.ttf") format("truetype"), url("assets/fonts/novecentowidemedium.svg#novecentowidemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveBook';
  src: url("assets/fonts/novecentowidebook.eot"), url("assets/fonts/novecentowidebook.ttf") format("truetype"), url("assets/fonts/novecentowidebook.svg#novecentowidebook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveLight';
  src: url("assets/fonts/novecentowidelight.eot"), url("assets/fonts/novecentowidelight.ttf") format("truetype"), url("assets/fonts/novecentowidelight.svg#novecentowidelight") format("svg");
  font-weight: normal;
  font-style: normal; }
footer#footer.hide {
  display: none; }
