button,
input[type="submit"] {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #663e08;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #201301;
  background-image: -webkit-linear-gradient(#201301, black);
  background-image: linear-gradient(#201301, black);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 black;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #372104;
    cursor: pointer;
    background-color: #070400;
    background-image: -webkit-linear-gradient(#070400, black);
    background-image: linear-gradient(#070400, black); }
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled) {
    border: 1px solid black;
    box-shadow: inset 0 0 8px 4px black, inset 0 0 8px 4px black; }
  button:disabled,
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #201301;
  font-family: "GothamBook";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "GothamBook";
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #201301;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: black; }
  a:active, a:focus {
    color: black;
    outline: none; }

hr {
  border-bottom: 1px solid #201301;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #201301;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #6a3f03; }

blockquote {
  border-left: 2px solid #201301;
  color: #6a3f03;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #9c5c05;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #513003;
  border: 1px solid #201301;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "GothamBook";
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #201301;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "GothamBook";
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: black; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #201301;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(7, 4, 0, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #201301;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'AmericanTypewriter';
  src: url("assets/fonts/AmericanTypewriter.eot"), url("assets/fonts/AmericanTypewriter.ttf") format("truetype"), url("assets/fonts/AmericanTypewriter.svg#AmericanTypewriter") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBook';
  src: url("assets/fonts/gothambook.eot"), url("assets/fonts/gothambook.ttf") format("truetype"), url("assets/fonts/gothambook.svg#gothambook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamXLight';
  src: url("assets/fonts/gothamxlight.eot"), url("assets/fonts/gothamxlight.ttf") format("truetype"), url("assets/fonts/gothamxlight.svg#gothamxlight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveMedium';
  src: url("assets/fonts/novecentowidemedium.eot"), url("assets/fonts/novecentowidemedium.ttf") format("truetype"), url("assets/fonts/novecentowidemedium.svg#novecentowidemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveBook';
  src: url("assets/fonts/novecentowidebook.eot"), url("assets/fonts/novecentowidebook.ttf") format("truetype"), url("assets/fonts/novecentowidebook.svg#novecentowidebook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'NoveLight';
  src: url("assets/fonts/novecentowidelight.eot"), url("assets/fonts/novecentowidelight.ttf") format("truetype"), url("assets/fonts/novecentowidelight.svg#novecentowidelight") format("svg");
  font-weight: normal;
  font-style: normal; }
#drawer-nav .menu li {
  font-family: "NoveMedium";
  font-size: 1.1875em;
  color: #472e13; }

#index-contact .phone-number, #index-info {
  font-family: "NoveBook";
  font-size: 1em;
  color: #472e13; }

#index-contact .phone-number {
  font-size: 1.375em; }

html, body, #page {
  margin: 0;
  width: 100%;
  height: 100%; }

#fallback-navigation.hide {
  display: none; }

#drawer-menu {
  position: fixed;
  right: 3em;
  top: 3em;
  z-index: 9999;
  height: 4.875em;
  width: 4.875em;
  background-color: white;
  border: 1.5em solid #bfd33b;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #drawer-menu:after, #drawer-menu:before {
    position: absolute;
    content: "";
    width: 1.875em;
    height: 0.375em;
    background-color: #bfd33b;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #drawer-menu:before {
    top: 0.375em; }
  #drawer-menu:after {
    top: 1.125em; }
  #drawer-menu.push {
    right: 300px;
    border-color: white;
    width: 4em; }
    #drawer-menu.push:before, #drawer-menu.push:after {
      width: 1.5em; }
    #drawer-menu.push:before {
      top: 0.1875em;
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg); }
    #drawer-menu.push:after {
      top: 1.3125em;
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);
      transform: rotate(-60deg); }

.sidr {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 300px;
  overflow-x: none;
  overflow-y: auto;
  background: rgba(191, 211, 59, 0.6); }

.sidr.right {
  left: auto;
  right: -300px; }

.sidr.left {
  left: -300px;
  right: auto; }

#drawer-nav .menu {
  margin-top: 3em; }
  #drawer-nav .menu li {
    text-align: center;
    margin-top: 1.5em; }
    #drawer-nav .menu li:first-child {
      text-indent: -9999px;
      white-space: nowrap;
      position: relative;
      margin-bottom: 2em; }
      #drawer-nav .menu li:first-child:before {
        text-indent: 0;
        content: "\f015";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1.75em;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        border-bottom: 2px solid rgba(235, 215, 193, 0.6);
        padding: 0 2em .5em; }

#index {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  background: url("assets/images/Pic-Coffee-1.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%; }
  #index:after {
    content: "";
    display: table;
    clear: both; }

#index-info {
  float: left;
  display: block;
  margin-right: 10.1484%;
  width: 26.56773%;
  margin-left: 1.5em; }
  #index-info:last-child {
    margin-right: 0; }
  #index-info > section {
    background-color: rgba(235, 215, 193, 0.6);
    width: 100%;
    text-align: center;
    padding: 0.75em 1em;
    margin-bottom: 1.5em; }
    #index-info > section:last-child {
      margin-bottom: 0; }

#index-logo {
  margin: 0 auto;
  background: url("assets/images/logo.png") no-repeat center center;
  background-size: cover;
  width: 75%;
  height: 0;
  padding-bottom: 64.4%;
  margin-bottom: 1.5em; }

#index-contact .phone-number {
  display: inline-block;
  margin-bottom: 0.75em; }
#index-contact li {
  font-size: 1.9375em;
  margin-right: 1em; }
  #index-contact li:last-child {
    margin-right: 0; }

footer#footer.hide {
  display: none; }
