// About Us

#about-us{
  @extend %full-page;
  position: relative;
  height: auto;
  @include retina-image(assets/images/Pic-Coffee-3, cover, jpg, null, -2x, false);
  z-index: 0;
}

#about-us-info{
  @extend %inner-page;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;

  h2{
    @extend %type-theme-h1;
  }

  h3{
    @extend %type-theme-h2;
  }

  h4{
    @extend %type-theme-h3;
    padding: 0 1em;
    margin-bottom: $base-line-height / 2;
  }

  h5{
    @extend %type-founded;
  }

  p{
    @extend %type-body;
    text-align: left;
    text-indent: 1em;
    @media (max-width: $small-screen){
      text-align: center;
    }
  }

  .title{
    @extend %page-title;
    position: absolute;
    top: $base-line-height * 3;
    @include box-sizing(border-box);

    @media (max-width: $small-screen){
      @include calc(width, '100% - 2em');
      left: 1em;
    }

    &.centered{
      @include transform(translate3D(-50%, -50%, 0));
    }
  }

  .tab{
    position: absolute;
    width: 64px;
    height: 128px;
    top: -64px;
    left: 50%;
    margin-left: -32px;
    font-size: 24px;
    padding-top: 16px;
    @include transition (all .2s);
    cursor: pointer;
    background-color: white;
    color: $yellow;
    text-align: center;

    &:hover{
      margin-top: -16px;
    }
  }

  #mission-statement{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    @include transform(translate3D(-50%, 0 ,0));

    @media (max-width: $large-screen){
      top: -10%;
    }

    @media (max-width: $small-screen){
      top: -60%;
    }
  }
}

#welcome{
  position: relative;
  width: 100%;
  @include span-columns(1 of 1);
  @extend %floating-div;
  @extend %item-card;

  & > .header{
    @extend %picto-header;
    max-width: 86em;
    margin: 0 auto;

    i{
      color: $bean;
      font-size: 2em;
    }
  }

  div{
    max-width: $large-screen;
    margin: 0 auto;
  }
}

#origins{
  @extend %full-page-image;
  @include retina-image(assets/images/Origins, cover, jpg, null, -2x, false);
  @include span-columns(1 of 1);
  position: relative;
  overflow-x: hidden;

  @media (max-width: $small-screen){
    padding: 0 1em;
  }
  .description{
    @include span-columns(1 of 2);
    max-width: 46em;
    background-color: $white-a;
    padding: $base-line-height 1em;
    text-align: center;
    margin: ($base-line-height * 2) 0 ($base-line-height * 6);

    @include media($large-media){
      @include span-columns(3 of 4);
    }

    @include media($medium-media){
      @include span-columns(2 of 3);
    }

    @include media($small-media){
      @include span-columns(3 of 4);
    }
    @media (max-width: $small-screen){
      @include span-columns(1 of 1);
      margin-bottom: $base-line-height * 2;
      background-color: white;
      box-shadow: 0 0 4px 0 $shadow;
    }
  }
}

#founded{
  position: absolute;
  right: 0;
  bottom: $base-line-height * 2;
  height: 0;
  width: 100%;
  max-width: 280px;
  border-bottom: 85px solid $white-a;
  border-left: 65px solid transparent;
  border-right: 15px solid $white-a;
  padding-right: 20px;

  @media (max-width: $small-screen){
    display: none;
  }

  h5{
    position: absolute;
    right: 1.8em;
    bottom: -.9em;
  }

  span{
    @extend %type-sans-h1;
    position: absolute;
    bottom: -1.6em;
    right: 0;
  }
}

#mission{
  @include span-columns(1 of 1);
  padding-bottom: $base-line-height * 4;
  position: relative;

  .bg{
    content: "";
    @extend %full-page-image;
    z-index: -1;
    @include retina-image(assets/images/Mission, cover, jpg, null, -2x, false);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .tab{
    @media (max-width: $medium-screen){
      display: none;
    }
  }

  & > .header{
    @extend %floating-div;
    @extend %picto-header;

    &:before, &:after{
      @include calc(width, "50% - 22em");
      margin: 0 10em;
      @include transform(translate3D(0, -75%, 0));

      @include media($medium-media){
        @include calc(width, "50% - 19em");
        margin: 0 7em;
      }

      @include media($medium-media){
        @include calc(width, "50% - 17em");
        margin: 0 5em;
      }

      @include media($small-media){
        @include calc(width, "50% - 12em");
        margin: 0 1em;
      }

      @include media($x-small-media){
        @include calc(width, "50% - 8.5em");
        margin: 0 1em;

      }
    }
  }

  ul{
    padding-top: $base-line-height * 2;
    max-width: $large-screen;
    margin: 0 auto;
  }

  li{
    @extend %floating-div;
    margin-bottom: $base-line-height;

    @media (max-width: $large-screen){
      margin: 0 1em $base-line-height;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  .description, .imagery{
    @include span-columns(1 of 2, table);
    vertical-align: top;

    @media (max-width: $medium-screen){
        @include reset-display;
        @include span-columns(1 of 1);
        float: none;
     }
  }

  .description{
    padding-right: 2em;

    &.non-mobile{
      @media (max-width: $medium-screen){
        display: none;
      }
    }

    &.mobile{
      display: none;

      @media (max-width: $medium-screen){
        display: block;
      }
    }
  }

  .imagery section{
    position: relative;

    &:before{
      position: absolute;
      content: "";
      top: 10%;
    }
  }

  img{
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  li.normal-orientation{
    .imagery section:before{
     left: 0;
      @include triangle(2em, white, right);
    }
  }

  li.flip-flop{
    .description{
      padding: 0 0 0 2em;
    }

    .imagery section:before{
      right: 0;
      @include triangle(2em, white, left);
    }
  }

  li.normal-orientation, li.flip-flop{
    @media (max-width: $medium-screen){
      .description{
        padding: 0;
        margin-bottom: $base-line-height;
      }
    }  
  }

  span{
    @extend %type-body;
    display: block;
    margin-bottom: $base-line-height;
  }

  .product{
    padding: $base-line-height 0;

    @media (max-width: $small-screen){
      padding: $base-line-height 1em;
      margin: 0 1em;
    }

    h4{
      border: none;
      padding: 0;
      padding-top: .24em;
    }

    i{
      color: $bean;
      font-size: em(96);
      margin-bottom: $base-line-height / 4;

      @media (max-width: $small-screen){
        font-size: em(64);
      }
    }

    .header{
      @extend %picto-header;
      margin: 0 4em;
      @media (max-width: $small-screen){
        margin: 0;
      }

      &:before, &:after{
        @include calc(width, "50% - 6.5em");

        @media (max-width: $small-screen){
          @include calc(width, "50% - 3.5em");
        }
      }
    }

    span{
      margin: 0 auto ($base-line-height * 1.5);

      @media (max-width: $small-screen){
        padding-bottom: $base-line-height;
        border-bottom: 2px solid $yellow;
      }
    }

    .focus{
      @include span-columns(1 of 3, table);
      border-right: 2px solid $yellow;
      padding: 0 1em;

     @media (max-width: $small-screen){
        @include reset-display;
        @include span-columns(1 of 1);
        float: none;
        border-right: none;
        border-bottom: 2px solid $yellow;
        padding-bottom: $base-line-height;
        margin-bottom: $base-line-height;

        &:last-child{
          margin-bottom: 0;
        }
     }

      &.food{
        border: none;
      }
    }
    p{
      @extend %type-product;
      text-indent: 0;
      text-align: center;
      line-height: $base-line-height * 1.5;
      margin-bottom: 0;
    }
  }

}