// About Us

#about-us{
  @extend %full-page;
  position: relative;
  height: auto;
  @include retina-image(assets/images/Pic-Coffee-3, 100% 100% cover, png, null, 2x, false);
}

#about-us-info{
  @extend %inner-page;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: $base-line-height * 4;
  position: relative;

  h2{
    @extend %type-theme-h1;
  }

  h3{
    @extend %type-theme-h2;
  }

  h4{
    @extend %type-theme-h3;
    margin-bottom: $base-line-height;
  }

  h5{
    @extend %type-founded;
  }

  p{
    @extend %type-body;
    text-align: left;
    text-indent: 1em;
  }

  .title{
    @extend %page-title;
    top: $base-line-height * 3;
    position: fixed;

    &.centered{
      @include transform(translateY(-50%) translateX(-50%));
    }
  }

  #mission-statement{
    text-align: center;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
  }

  .welcome{
    position: relative;
    width: 100%;
    @include span-columns(1 of 1);
    @extend %floating-div;
    @extend %item-card;

    .tab{
      position: absolute;
      width: 64px;
      height: 96px;
      top: -64px;
      left: 50%;
      margin-left: -32px;
      font-size: 24px;
      padding-top: 16px;
      @include transition (all .2s);

      &:hover{
        margin-top: -32px;
      }
    }

    & > .header{
      @extend %picto-header;
    }

    div{
      max-width: $large-screen;
      margin: 0 auto;
    }
  }
}

#origins{
  @extend %full-page-image;
  @include retina-image(assets/images/Origins, 100% 100% cover, png, null, 2x, false);
  @include span-columns(1 of 1);
  position: relative;

  .description{
    @include span-columns(1 of 2);
    background-color: $white-a;
    padding: $base-line-height 1em;
    text-align: center;
    margin: ($base-line-height * 2) 0 ($base-line-height * 6);
  }
}

#founded{
  position: absolute;
  right: 0;
  bottom: $base-line-height * 2;
  height: 0;
  width: 100%;
  max-width: 280px;
  border-bottom: 85px solid $white-a;
  border-left: 65px solid transparent;
  border-right: 15px solid $white-a;
  padding-right: 20px;

  h5{
    position: absolute;
    right: 1.8em;
    bottom: -.9em;
  }

  span{
    @extend %type-sans-h1;
    position: absolute;
    bottom: -1.6em;
    right: 0;
  }
}