// Contact

#contact{
  @extend %full-page;
  @include retina-image(assets/images/Pic-Coffee-2, 100% 100% cover, jpg, null, -2x, false);
}

#contact-info{
  @extend %inner-page;

  h2{
    @extend %type-theme-h4;
    margin-bottom: $base-line-height / 2;
  }

  .title{
    @extend %page-title;
  }

  ul{
    width: 100%;
    max-width: em(480);
    margin: 0 auto;
  }

  li{
    position: relative;
    background-color: $white-a;
    border: 2px solid $yellow;
    border-radius: em(40);
    @extend %type-contact-label;
    text-align: center;
    margin-bottom: $base-line-height * 2;
    i{
      font-size: em(32);
      position: absolute;
      left: .6em;
      @include transform(translate3D(0, 20%, 0));

      @include media($small-media){
        @include transform(translate3D(0, 30%, 0));
      }

      @include media($x-small-media){
        @include transform(translate3D(0, 60%, 0));
        left: 1.2em;
      }
    }

    span{
      display: inline-block;
      padding: .7em 0;
    }

    .phone{
      @extend %type-contact-label-phone;
      padding: .4em 0;
    }

    .info{
      @include media($x-small-media){
        padding-left: 6%;
      }
    }

    .booking{
      @include media($x-small-media){
        padding-left: 8%;
      }
    }
  }
}