@font-face {
  font-family: 'AmericanTypewriter';
  src: url('assets/fonts/AmericanTypewriter.eot'),
       url('assets/fonts/AmericanTypewriter.ttf') format('truetype'),
       url('assets/fonts/AmericanTypewriter.svg#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('assets/fonts/gothambook.eot'),
       url('assets/fonts/gothambook.ttf') format('truetype'),
       url('assets/fonts/gothambook.svg#gothambook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamXLight';
  src: url('assets/fonts/gothamxlight.eot'),
       url('assets/fonts/gothamxlight.ttf') format('truetype'),
       url('assets/fonts/gothamxlight.svg#gothamxlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoveMedium';
  src: url('assets/fonts/novecentowidemedium.eot'),
       url('assets/fonts/novecentowidemedium.ttf') format('truetype'),
       url('assets/fonts/novecentowidemedium.svg#novecentowidemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoveBook';
  src: url('assets/fonts/novecentowidebook.eot'),
       url('assets/fonts/novecentowidebook.ttf') format('truetype'),
       url('assets/fonts/novecentowidebook.svg#novecentowidebook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoveLight';
  src: url('assets/fonts/novecentowidelight.eot'),
       url('assets/fonts/novecentowidelight.ttf') format('truetype'),
       url('assets/fonts/novecentowidelight.svg#novecentowidelight') format('svg');
  font-weight: normal;
  font-style: normal;
}