// Index

#index{
  @extend %full-page;
  @include retina-image(assets/images/Pic-Coffee-1, 100% 100% cover, png, null, 2x, false);
}

#index-info{
  @include span-columns(1 of 3);
  padding-left: $base-line-height;
  @extend %type-index-info;
  margin-bottom: $base-line-height * 2;

  @include media($medium-media){
    @include span-columns(1 of 2);
  }

  @include media($small-media){
    @include span-columns(3 of 5);
  }

  @include media($x-small-media){
    @include span-columns(1 of 1);
    padding: 0 $base-line-height;
  }

  & > section{
    background-color: $coffee-a;
    width: 100%;
    text-align: center;
    padding: ($base-line-height / 2) 1em;
    margin-bottom: $base-line-height;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

#index-logo{
  margin: 0 auto;
  @include retina-image(assets/images/logo, 75% 0 cover, png, null, 2x, false);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 64.4%;
  margin-bottom: $base-line-height;
}


#index-contact{
  .phone-number{ 
    display: inline-block;
    @extend %type-index-contact;
    margin-bottom: $base-line-height / 2;
    margin-right: 0;
  }

  a{
    margin-right: 1em;
  }

  li{
    font-size: em(31);

    &:last-child{
      margin-right: 0;
    }
  }
}