// Menu

#menu{
  @extend %full-page;
  @include retina-image(assets/images/Pic-Menu, cover, jpg, null, -2x, false);
}

#menu-info{
  @extend %inner-page;
  margin-bottom: $base-line-height * 4;

  h2{
    @extend %type-theme-h4;
    margin-bottom: $base-line-height * 2;
  }

  h3{
    @extend %type-theme-h2;
  }

  i{
    color: $bean;
    font-size: em(44);
    margin-top: -.3em;
  }

  .title{
    @extend %page-title;
    @include animation(smooth-entry 1s);
  }

  #tag-line{
    max-width: $large-screen;
    margin: 0 auto;
    @include animation(smooth-entry 1s);
  }

  ul{
    max-width: $large-screen;
    margin: 0 auto;
  }

  li{
    margin-bottom: $base-line-height;
    @extend %floating-div;

    &:last-child{
      margin-bottom: 0;
    }

    &.fade{
      @include animation(smooth-entry-reverse 1s);
      opacity: 1;
    }

    .header{
      @extend %picto-header;
      margin-top: .4em;
      margin-bottom: $base-line-height / 2;
    }

    @extend %item-card;
  }
}