// Shared extends

%full-page-image{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

%full-page{
  @extend %full-page-image;
  @include outer-container;
  max-width: 100%;
  position: relative;
  height: auto;
  overflow-x: hidden;

  &.fill{
    height: 100%
  }
}

%page-title{
  background-color: $coffee-a;
  width: 100%;
  max-width: em(400);
  margin: 0 auto ($base-line-height * 2);
  text-align: center;

  h1{
    @extend %type-sans-h1;
    padding: .7em 0;
  }
}

%inner-page{
  @include span-columns(1 of 1);
  padding: 0 1em;
  margin: ($base-line-height * 3) auto $base-line-height;
}

%floating-div{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 4px 0 $shadow;
  padding: $base-line-height 4em;

  @include media($large-media){
    padding: $base-line-height 3em; 
  }

  @include media($medium-media){
    padding: $base-line-height 2em; 
  }

  @include media($small-media){
    padding: $base-line-height 1em; 
  }

  @include media($x-small-media){
    padding: $base-line-height 1em; 
  }
}

%item-card{
  & > i{
    color: $bean;
    font-size: em(32);
    margin-bottom: $base-line-height / 4;
  }

  h3{
    margin-bottom: $base-line-height / 2;
  }

  p{
    @extend %type-body;
  }
}

%picto-header{
  position: relative;

    &:before{
      content: "";
      height: 3px;
      @include calc(width, "50% - 2.5em");
      background-color: $yellow;
      position: absolute;
      top: 50%;
      @include transform(translate3D(0, -.4em, 0));
      left: 0; 
    }

    &:after{
      content: "";
      height: 3px;
      @include calc(width, "50% - 2.5em");
      background-color: $yellow;
      position: absolute;
      top: 50%;
      @include transform(translate3D(0, -.4em, 0));
      right: 0; 
    }
}

%accelerate-flickr{
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

%accelerate{
  @extend %accelerate-flickr;
  @include transform(translate3D(0,0,0));
}
