// Basic set of typography extended classes

%type-body{
  font-family: $gotham;
  font-size: em(18);
  text-align: center;
  line-height: $base-line-height;

  @include media($small-media){
    font-size: em(16);
  }

  @include media($x-small-media){
    font-size: em(14);
  }
}

%type-body-left{
  @extend %type-body;
  text-align: left;
}

%type-theme-h1{
  font-family: $typewriter;
  font-size: em(54);
  color: white;
  text-shadow: 0px 2px 4px $shadow;

  @include media($medium-media){
    font-size: em(46);
  }

  @include media($small-media){
    font-size: em(36);
  }

  @include media($x-small-media){
    font-size: em(28);
  }
}

%type-theme-h2{
  font-family: $typewriter;
  font-size: em(44);
  color: $yellow;

  @include media($x-small-media){
    font-size: em(36);
  }
}

%type-theme-h3{
  display: inline-block;
  font-family: $typewriter;
  font-size: em(32);
  color: $bean;
  border-bottom: 2px solid $yellow;

   @include media($small-media){
    font-size: em(28);
  }

  @include media($x-small-media){
    font-size: em(18);
  }
}

%type-theme-h4{
  @extend %type-theme-h1;
  font-size: em(32);
  text-align: center;

  @include media($small-media){
    font-size: em(28);
  }

  @include media($x-small-media){
    font-size: em(18);
  }
}

%type-contact-details{
  font-family: $gotham-light;
  font-size: em(16);
  font-weight: bold;
  color: $bean;
}

%type-contact-label{
  @extend %type-contact-details;

  @include media($small-media){
    font-size: em(14);
  }

  @include media($x-small-media){
    font-family: $gotham;
    font-size: em(8);
  }
}

%type-contact-label-phone{
  @extend %type-contact-label;
  font-size: em(28);
  font-weight: normal;
}

%type-sans-h1{
  font-family: $nove-light;
  font-size: em(44);
  color: $bean;
  text-align: center;

  @include media($small-media){
    font-size: em(40);
  }

  @include media($x-small-media){
    font-size: em(36);
  }
}

%type-sans-h2{
  font-family: $nove-medium;
  font-size: em(22);
  color: $bean;
}

%type-nav-link{
  font-family: $nove-medium;
  font-size: em(19);
  color: $bean;
  text-align: center;
}

%type-nav-contact{
  font-family: $gotham-light;
  font-size: em(14);
  color: $bean;
  text-align: center;

  @include media($x-small-media){
    font-size: em(10);
  }
}

%type-index-info{
  font-family: $nove;
  font-size: em(16);
  color: $bean;
}

%type-index-contact{
  @extend %type-index-info;
  font-size: em(22);
}

%type-founded{
  font-family: $nove-medium;
  font-size: em(52);
  color: $yellow;
  text-shadow: 2px 2px 0px $bean;
}

%type-product{
  font-family: $gotham;
  font-size: em(14);
}