@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

@import "fonts";
@import "animation";

// Main

// Extends

@import "typography";
@import "shared";

// Global

html, body, #page, #content{
  margin: 0;
  width:100%;
  height:100%;
}

html{
  background: hsl(31,51%,84%) url("assets/images/body-texture.png") 0 0 repeat;
}

// For lazy load emulation

.lazy-load{
  opacity: 0;

  @media(max-width: $small-screen){
    @include animation(smooth-entry-reverse 1s);
    @include animation-fill-mode(forwards);
  }
}

// Nav

@import "fallback-nav"; // for when js is disabled
@import "drawer";

// Pages

@import "home";
@import "about";
@import "menu";
@import "contact";

// Footer

@import "footer";

// Loading Screen

@import "loading";