// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "GothamBook";
$serif: "AmericanTypewriter";

$typewriter: "AmericanTypewriter";
$gotham: "GothamBook";
$gotham-light: "GothamXLight";
$nove-medium: "NoveMedium";
$nove: "NoveBook";
$nove-light: "NoveLight";
$icomoon: "IcoMoon";

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$white-a: rgba(255,255,255,.6);
$yellow: #bfd33b;
$yellow-a: rgba(191,211,59,.6);
$coffee: #ebd7c1;
$coffee-a: rgba(235, 215, 193, .6);
$black: #201301;
$bean: #472e13;
$shadow: rgba(0, 0, 0, .5);

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: $yellow;
$light-green: #E6EFC2;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $black;
$base-accent-color: $black;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $black;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
